/* @import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;0,900;1,600&display=swap');
    * {
        margin: 0;
        padding: 0;
        font-family: 'Nunito', sans-serif;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8px;
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        background-image: url(/img/Banner2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    

    header {
        /* background-color: #ccc; */
        font-size: 0.5rem;
        align-self: center;
    }
    
    footer {
        background-color: #8fd486;
    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    
    article.main {
        /* background-color: #00C9F2; */
        flex: 1;
    }
    
    aside {
        /* background-color: #f5c622; */
    }


    @media (min-width: 768px) {
        main {
            width: 97%;
            margin: 0 auto;
            flex-direction: row;
        }
    
        aside {
            flex: 0 0 10%;
        }
    
        .sidebar1 {
            order: -1;
        }
    
    }
    

    #introductionTitle{
        font-size: 4em;
        color: #0a0a0a;
    }

    #introductionTitle::before {
        content: '\26EF'; 
        margin-right: 5px;
    }

    #introductionTitle::after {
        content: '\26EF'; 
        margin-left: 5px;
    }

    .SelectLanguage{
        font-size: 1.9em ;
        margin: 5%;
    }

    #secondLanguage{
        margin-top: 5%;
    }

    #controlsElements {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        max-width: 900px;
        margin: 10px 0;
        padding: 10px;
    }

    #searchControls,
    #searchButtons,
    #searDetails {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    #searchbutton:hover{
        background-color: #f5ecec;
        cursor:pointer;
    }

    #searchButtonSourats:hover{
        background-color: #f5ecec;
        cursor:pointer;
    }

    #toggleOrder,
    #context,
    #searchbutton,
    #searchButtonSourats {
        box-sizing: border-box;
    }


    #toggleOrder:hover{
        background-color: #f5ecec;
        cursor:pointer;
    }

    #context:hover{
        background-color: #f5ecec;
        cursor:pointer;
    }


    #searchButtonSourats:hover{
    background-color: #f5ecec;
    cursor:pointer;
    }   


    #introduction {
        border-radius: 104px;
        width: 83%;
        height: 100%;
        margin-left: 10%;
        box-shadow: 20px 24px 137px 25px #6ddb71;
    }


    #controlsElements {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 100%;
        max-width: 900px;
        margin: 10px 0;
        padding: 10px;
    }


    #searchControls,
    #searchButtons,
    #searDetails {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
    }

    #toggleOrder,
    #context,
    #searchbutton,
    #searchButtonSourats {
        width: 100%;
        margin: 5px 0;
        padding: 10px;
        border: 1px solid green;
        border-radius: 12px;
    }

    #content-wrapper {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 1%;
        padding: 1%;
        display: flex;
        height: 100vh;
        /* width: 80%; */
        justify-content: space-between; 
        border: 1px solid black; 
        border: 1px solid #011201b5;
    }

    #languageSelector {
        height: 51%;
        width: 87%;
        margin: 8px;
        border-block-color: inherit;
    }

    #SurahLanguageSelector {
        width: 87%;
        height:51% ;
        margin: 12px;
        border-block-color: inherit;
    }

    #search-input{
    height: 20%;
    margin: 5px;
    border-block-color: revert;
    background-image: url('/img/find.png'); 
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 90%;

    }

    #language{
        display: flex;
        flex-direction: column;
        font-size: 1.3em;
    }

    #toggleButtons{
        height: 15%;
        width: 80%;
        margin-left: 10%;
        border-block-color: inherit;
    }

    .resultsContainer{
        display: flex; 
        width: 17%;
        flex-direction: column; 
        height: 100%; 
        border: 1px solid #ddd; 
        overflow: hidden; 
        position: relative; 
        color: rgb(5, 5, 5);
        text-decoration: underline;
        background-color: #f4f4f4;
    }

     .resultsClass {
        width: 100%; 
        height: 100%;
        padding: 1%;
        font-size: 2em;
        background-color: #f9f9f9;
        border-right: 1px solid #ddd;
        overflow-y: auto;
        color: rgb(5, 5, 5);
        text-decoration: underline;
        background-color: #e2ede25c;
    }

    #reset-button {
        width: 80%;
        height: 9%;
        margin: 3%;
        border: 1px solid green;
        border-radius: 12px;
    }

    .eraseDiv{
        width: 0px;
        height: 0px;
        padding: 0px;
        border: 0px;
        margin: 0px;
    }

    #hijriMonth{
        font-size: 2.3em;
        color: rgb(1, 17, 1);
    }
    .hijriSpan{
        font: bold;
        font-style: italic;
        font-family: auto;
    }
    .textContainer{
        width: 77%; 
        padding: 1%;
        height: 100%;
        font-size: 3em;
        font-family: 'Noto Naskh Arabic', serif;
        background-color:#efe9e9ad;
        margin-left: 2%;
        overflow-y: auto; 
        width: 100%;
        height: 100%;

        border: 1px solid #00800078;
    }

    #tocContainer {
        width: 16%; 
        padding: 10px;
        font-size: 2em;
        background-color: #f4f4f4d9;;
        border-left: 1px solid #ddd;
        overflow-y: auto;
        height: 100%;
    }

    .sura-contexte {
        width: 77%; 
        padding: 1%;
        height: 100%;
        font-size: 3em;
        background-color: #efe9e9ad;
        margin-left: 2%;
        border-left: 1px solid #ddd;
        overflow-y: auto;
    }

    input, button {
        padding: 10px;
        margin: 5px;
        font-size: 16px;
        font-size: 1.8em;
    }

    h2 {
        margin-top: 0;
    }

    .verse {
        padding: 10px 0;
        border-bottom: 1px solid #03453f; 
        position: relative;
        padding-bottom: 25px; 
    }

    .verse:last-of-type::after {
        content: "";
        display: block;
        width: 50%; 
        height: 2px; 
        background-color: #4CAF50; 
        margin: 10px auto 0; 
        border-radius: 5px; 
    }

        #content-wrapper .verse::after {

        background-color: #4CAF50; 

    }

    .search-result-item {
        cursor: pointer;
        color: rgb(10, 10, 10);
        text-decoration: underline;
    }

    .search-result-item:hover {
        color: rgb(5, 5, 230);
        background-color: white;    }

    .sura-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
        color: #3b3b3b;
        background-color: #f0f0f0;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 2px solid #3b3b3b;
        margin: 0 auto;
    }

 
    .sura {
        border-bottom: 4px solid green; 
        margin-bottom: 20px; 
        padding-bottom: 10px; 
        flex: 1; 
        padding: 10px;
        border: 1px solid #000;
        box-sizing: border-box; 
        border: transparent;
    }

    .sura h2 {
        color: green;
        margin-top: 0; 
        font-family: 'Amiri', serif;
        text-align: center;
    }

    .icon-number {
        font-family: 'Traditional Arabic', serif; 
        color:#03453f; ;
    }

    .verse-icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #3b3b3b;
        border-radius: 50%;
        width: 30px;
        height: 25px;
        border: 2px solid #03453f;
    } 

    .highlight {
        color: rgb(228, 5, 5);
        padding: 0 2px;
        border-radius: 3px;
        font-weight: bold; 
        font-size: 1.4em;  
    }

    .toc-item {
        padding: 10px;
        cursor: pointer;
        color: rgb(5, 5, 5);
        text-decoration: underline;
        background-color: #e2ede25c;
    }

    .toc-item:hover {
        color: rgb(5, 5, 230);
        background-color: white;
    }

    .total-matches {
        font-weight: bold;
        margin-bottom: 10px;
    }

    #arabic-options {
        font-size: 2em;
        height: 10%;
    }


    .surah-results h3 {
        margin-top: 13%;
        margin-bottom: 0px;
    }

    .city-icon {
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }

    .surah-item {
        display: flex;
        align-items: center;
    }
    
    .item {
        margin-bottom: 20px;
        padding: 10px;
        background: #f9f9f9;
        border-left: 5px solid #007bff;
    }

    .item h3 {
        margin: 0;
        color: #007bff;
    }

    .item p {
        margin: 5px 0 0;
        color: #666;
    }   

    .right-align {
        text-align: right;
    }

    .resetButton{
        width: 100%;
        height: 10%;
        margin-top: 5%;
    }
    .resetButton:hover{
        background-color: #f5ecec;
        cursor:pointer;
    }

    .SearchResultSurah{
        color: rgb(5, 5, 5);
    }
     

    /* Mobile responsiveness */

    /* @media (max-width: 1292px){
        #introduction {
            max-width: 900px;
            text-align: center;
            margin: 20px 0;
            font-size: 1.2em;
            border-radius: 104px;
            width: 30%;
            height: 100%;
            box-shadow: 20px 24px 137px 25px #6ddb71;
        }
    
        .Bismileh{
            width: 92%;
            height: 100%;
        }
        #searchbutton:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
    
       #searchButtonSourats:hover{
        background-color: #f5ecec;
        cursor:pointer;
        }   
    }

    @media (max-width: 768px) {
        #controlsElements {
            grid-template-columns: repeat(2, 1fr);
        }
        #language{
            display: block;
            font-size: 1em;
        }
        #languageSelector {
            height: 15%;
            width: 87%;
            margin: 8px;
            border-block-color: inherit;
        }
        #SurahLanguageSelector {
            width: 87%;
            height: 34%;
            margin: 12px;
            border-block-color: inherit;
        }
        #introduction {
            max-width: 900px;
            text-align: center;
            margin: 20px 0;
            font-size: 1.2em;
            border-radius: 104px;
            width: 30%;
            height: 100%;
            box-shadow: 20px 24px 137px 25px #6ddb71;
        }
        .Bismileh{
            width: 92%;
            height: 100%;
        }
        #searchbutton:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
    #searchButtonSourats:hover{
        background-color: #f5ecec;
        cursor:pointer;
        }   
    }

    @media (max-width: 768px) {
        #controlsElements {
            grid-template-columns: repeat(2, 1fr);
        }
        #languageSelector {
            height: 15%;
            width: 87%;
            margin: 8px;
            border-block-color: inherit;
        }
        #SurahLanguageSelector {
            width: 87%;
            height: 34%;
            margin: 12px;
            border-block-color: inherit;
        }
        #introduction {
            max-width: 900px;
            text-align: center;
            margin: 20px 0;
            font-size: 1.2em;
            border-radius: 104px;
            width: 30%;
            height: 100%;
            box-shadow: 20px 24px 137px 25px #6ddb71;
        }
        .Bismileh{
            width: 92%;
            height: 100%;
        }
        #searchbutton:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
        #searchButtonSourats:hover{
        background-color: #f5ecec;
        cursor:pointer;
        }   
        #content-wrapper {
            margin-left: 3%;
            margin-right: 1%;
            margin-bottom: 1%;
            padding: 1%;
            display: flex;
            height: 50vh;
            width: 95%;
            justify-content: space-between;
            border: 1px solid #6ddb71b5;
        }
        #hijriMonth{
            font-size: 2.5em;
            color: #141313;
        }
    }
*/

/* Burger menu */
    .burger-menu {
        font-size: 30px;
        cursor: pointer;
        display: none;
        position: fixed;
        top: 10px;
        left: 10px;
    }

    @media (max-width: 766px) {
        .Bismileh{
            width: 92%;
            height: 100%;
            /* margin-left: 88%; */
        }
        #introductionTitle {
            font-size: 2.7em;
            color: black;
            background-color: #ffffff80;
        }
        .resultsClass {
            width: 100%; 
            height: 100%;
            padding: 1%;
            font-size: 1.5em;
            background-color: #f9f9f9;
            border-right: 1px solid #ddd;
            overflow-y: auto;
        }
        .resetButton{
            width: 100%;
            height: 10%;
            margin-top: 5%;
            font-size: 1.5em;
        }
        .resetButton:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
        #searchbutton:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
        #searchButtonSourats:hover{
        background-color: #f5ecec;
        cursor:pointer;
        }   
        #toggleOrder:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
        #context:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
        #content-wrapper {
            margin-left: 3%;
            margin-right: 1%;
            margin-bottom: 1%;
            padding: 1%;
            display: flex;
            height: 83vh;
            width: 95%;
            justify-content: space-between;

            border: 1px solid #6ddb71b5;
        }
        #hijriMonth{
            font-size: 2.5em;
            padding-left: 15%;
            margin-top: 2%;
        }
        #search-input {
            height: 16%;
            /* margin: 5px; */
            margin-left: 3%;
            width: 92%;
            border-block-color: revert;
            background-image: url(/img/find.png);
            background-size: 4%;
            background-repeat: no-repeat;
            background-position: 95%;
        }
        #searchControls, #searchButtons, #searDetails {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            width: 93%;
            margin-left: 3%;
        }
        #introduction {
            max-width: 900px;
            text-align: center;
            margin: 20px 0px;
            font-size: 1.2em;
            border-radius: 104px;
            width: 30%;
            height: 100%;
            box-shadow: rgb(109, 219, 113) 20px 24px 137px 25px;
            background-color: white;
            margin-left: 28%;
        }
        #toggleButtons {
            height: 15%;
            width: 80%;
            border-block-color: inherit;
            margin-left: 9%;
        }
        #language {
            display: flex;
            flex-direction: column;
            font-size: 1.3em;
            margin-left: 9%;
        }
        .main{
        }
        .burger-menu {
            display: block;
        }
        .sidebar1 {
            transform: translateX(-100%);
            display: none;
        }
        .sidebar1.open {
            transform: translateX(0);
            display: block;
        }
    }

    @media (max-width: 480px) {
        #introductionTitle {
        font-size: 2em;
        color: black;
        background-color: #ffffff80;
        margin-left: 15%;
        }
        #controlsElements {
            grid-template-columns: 1fr;
        }
        #languageSelector {
            height: 60%;
            width: 87%;
            margin: 8px;
            border-block-color: inherit;
        }
        #SurahLanguageSelector {
            width: 87%;
            height: 50%;
            margin: 12px;
            border-block-color: inherit;
        }
        #content-wrapper {
            margin-left: 6%;
            margin-right: 1%;
            margin-bottom: 1%;
            padding: 1%;
            display: flex;
            height: 83vh;
            width: 100%;
            justify-content: space-between;

            border: 1px solid #6ddb71b5;
        }
        #tocContainer {
            width: 20%; 
            padding: 10px;
            font-size: 1.9em;
            padding: 0;
            background-color: #f4f4f4;
            border-left: 1px solid #ddd;
            overflow-y: auto;
            height: 100%;
        }
        .resultsClass {
            width: 100%; 
            height: 100%;
            padding: 1%;
            font-size: 1.5em;
            background-color: #f9f9f9;
            border-right: 1px solid #ddd;
            overflow-y: auto;
        }
        .textContainer{
            width: 77%; 
            padding: 1%;
            height: 100%;
            font-size: 2em;
            font-family: 'Noto Naskh Arabic', serif;
            background-color:#efe9e9ad;
            margin-left: 2%;
            overflow-y: auto; 

            border: transparent;
        }
        .resetButton{
            width: 100%;
            height: 10%;
            margin-top: 5%;
            font-size: 1.2em;
        }
        #searchbutton:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
        #searchButtonSourats:hover{
        background-color: #f5ecec;
        cursor:pointer;
        }   
        .city-icon{
            width: 16px;
            height: 13px;
        }
        #hijriMonth{
            font-size: 2em;

        }
    }  



    /* @media (max-width: 768px) {
        #controlsElements {
            grid-template-columns: repeat(2, 1fr);
        }
        #language-selector {
            height: 15%;
            width: 87%;
            margin: 8px;
            border-block-color: inherit;
        }
        #Surah-language-selector {
            width: 87%;
            height: 34%;
            margin: 12px;
            border-block-color: inherit;
        }
        #introduction {
            max-width: 900px;
            text-align: center;
            margin: 20px 0;
            font-size: 1.2em;
            border-radius: 104px;
            width: 30%;
            height: 100%;
            box-shadow: 20px 24px 137px 25px #6ddb71;
        }
        .Bismileh{
            width: 92%;
            height: 100%;
        }
        #search-button:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
        #search-button-Sourat:hover{
        background-color: #f5ecec;
        cursor:pointer;
        }   
        #content-wrapper {
            margin-left: 3%;
            margin-right: 1%;
            margin-bottom: 1%;
            padding: 1%;
            display: flex;
            height: 50vh;
            width: 95%;
            justify-content: space-between;

            border: 1px solid #6ddb71b5;
        }
        #hijriMonth{
            font-size: 2.5em;
            color: #141313;
        }
    }

    @media (max-width: 730px) {
        .resultsClass {
            width: 100%; 
            height: 100%;
            padding: 1%;
            font-size: 1.5em;
            background-color: #f9f9f9;
            border-right: 1px solid #ddd;
            overflow-y: auto;
        }
        .resetButton{
            width: 100%;
            height: 10%;
            margin-top: 5%;
            font-size: 1.5em;
        }
        .resetButton:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
        #search-button:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
       #search-button-Sourat:hover{
        background-color: #f5ecec;
        cursor:pointer;
        }   
        #toggleOrder:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
        #context:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
        #content-wrapper {
            margin-left: 3%;
            margin-right: 1%;
            margin-bottom: 1%;
            padding: 1%;
            display: flex;
            height: 50vh;
            width: 95%;
            justify-content: space-between;

            border: 1px solid #6ddb71b5;
        }

        #introduction {
            max-width: 900px;
            text-align: center;
            margin: 20px 0px;
            font-size: 1.2em;
            border-radius: 104px;
            width: 30%;
            height: 100%;
            box-shadow: rgb(109, 219, 113) 20px 24px 137px 25px;
            background-color: white;
        }
    }

    @media (max-width: 480px) {
        #introductionTitle {
        font-size: 2.7em;
        color: black;
        background-color: #ffffff80;
        }
        #controlsElements {
            grid-template-columns: 1fr;
        }
        #language-selector {
            height: 60%;
            width: 87%;
            margin: 8px;
            border-block-color: inherit;
        }
        #Surah-language-selector {
            width: 87%;
            height: 50%;
            margin: 12px;
            border-block-color: inherit;
        }
        #content-wrapper {
            margin-left: 6%;
            margin-right: 1%;
            margin-bottom: 1%;
            padding: 1%;
            display: flex;
            height: 50vh;
            width: 100%;
            justify-content: space-between;

            border: 1px solid #6ddb71b5;
        }
        #toc-container {
            width: 20%;
            padding: 10px;
            font-size: 1.9em;
            padding: 0;
            background-color: #f4f4f4;
            border-left: 1px solid #ddd;
            overflow-y: auto;
            height: 100%;
        }
        .resultsClass {
            width: 100%; 
            height: 100%;
            padding: 1%;
            font-size: 1.5em;
            background-color: #f9f9f9;
            border-right: 1px solid #ddd;
            overflow-y: auto;
        }
        .textContainer{
            width: 77%; 
            padding: 1%;
            height: 100%;
            font-size: 2em;
            font-family: 'Noto Naskh Arabic', serif;
            background-color:#efe9e9ad;
            margin-left: 2%;
            overflow-y: auto; 
            border: transparent;
        }
        .resetButton{
            width: 100%;
            height: 10%;
            margin-top: 5%;
            font-size: 1.2em;
        }
        #search-button:hover{
            background-color: #f5ecec;
            cursor:pointer;
        }
        #search-button-Sourat:hover{
        background-color: #f5ecec;
        cursor:pointer;
        }   
        .city-icon{
            width: 16px;
            height: 13px;
        }
        #hijriMonth{

            font-size: 2.5em;
            color: #f9f4f4;
            background-color: #79554899;
        }
    } */
